@font-face {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  src: url(../fonts/Roboto-Bold.ttf) format('truetype');
}

:root {
  --main-clr: #000;
  --light-clr: #fff;
  --second-clr: #cfcfcf;
  --highlight-clr: rgb(73, 71, 71);
  --border-radius-low: 6px;
  --border-radius: 8px;
  --border-radius-high: 12px;
  font-size: 18px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

button {
  cursor: pointer;
}

p.medium {
  font-size: 22px;
  line-height: 1.1;
}

p.xl {
  font-size: 26px;
  line-height: 1.1;
}

a {
  color: var(--main-clr);
  text-decoration: none;
}

iframe {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (max-width: 500px) {
  iframe {
    height: 300px;
  }
}

figcaption {
  font-size: 12px;
}

figure img {
  width: 100%;
}

.txt-light {
  color: var(--light-clr);
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
}

.logo {
  max-width: 100px;
}

.main-header ul,
.main-footer ul {
  display: flex;
  gap: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-footer ul {
  list-style: circle;
}

.main-header ul li a,
.main-footer ul li a {
  display: block;
  position: relative;
  padding: 10px 15px;
}

@media (max-width: 700px) {
  .main-header ul,
  .main-footer ul {
    gap: 5px;
  }

  .main-header ul li a,
  .main-footer ul li a {
    display: block;
    position: relative;
    padding: 5px 10px;
  }

  .main-header ul li:last-child,
  .main-footer ul li:last-child {
    display: none;
  }
}

.main-header ul li a::before,
.main-footer ul li a::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 0;
  left: 0;
  bottom: 0;
  transition: width 0.3s ease;
  background-color: var(--main-clr);
}

.main-header ul li a:hover::before,
.main-footer ul li a:hover::before {
  width: 100%;
}

.main-header ul li a.active::before,
.main-footer ul li a.active::before {
  width: 100%;
}

.main-footer {
  background: var(--second-clr);
  padding-top: 30px;
  padding-bottom: 30px;
}

.main-footer-inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.main-footer .logo {
  margin-bottom: 20px;
}

.container {
  padding-left: 25px;
  padding-right: 25px;
  max-width: 1800px;
  margin: 0 auto;
}

.card {
  padding: 30px 15px;
  box-shadow: 3px 1px 13px 7px rgb(0 0 0 / 13%);
  border-radius: 12px;
  display: grid;
  grid-template-rows: 40px 1fr 40px;
}

.btn {
  display: block;
  padding: 10px 20px;
  width: 100%;
  max-width: 200px;
  display: grid;
  place-content: center;
  background: var(--main-clr);
  border: 1px solid var(--main-clr);
  color: var(--light-clr);
  font-weight: bold;
  font-size: 17px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: var(--light-clr);
  color: var(--main-clr);
}

#hero .hero-container > div {
  max-width: 650px;
}

#hero .hero-container > div p {
  text-align: justify;
}

section > article {
  padding-top: 100px;
  padding-bottom: 100px;
}

@media (max-width: 899px) {
  section > article {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  #hero-content > div p {
    text-align: start;
  }
}

form {
  width: 100%;
}

form label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

form p {
  margin-bottom: 0;
}

form input,
form textarea {
  font-size: 1rem;
  padding: 10px;
}

.asterisk {
  color: red;
}

a.underlined {
  text-decoration: underline;
  text-underline-offset: 2px;
  color: var(--highlight-clr);
  transition: opacity 0.3s ease;
}

a.underlined:hover {
  opacity: 0.8;
}
